body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding:0px;
    margin:0px;
    
}

/* Colors */
header, .intro, footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, 
                url(skycrapper.jpg) no-repeat center center fixed;
    background-size: cover; 
    color: #f9faf8;
    text-shadow:0px 0px 5px black,
                0px 0px 20px black,
                0px 0px 40px white; 
}


header, .intro{
    display: flex;
    width:100%;
    align-self: stretch;
    align-items: center;
    justify-content:space-around;
    flex-flow: row wrap;
    gap:15%;
}

.logo {
    font-size: 24px;
}

.main h1 {
    font-size: 48px;
    font-weight: bolder;
    align-self: flex-start;
    margin-bottom: -16px;
}

.sidekick-text, li {
    color:#e5e7eb;
    font-size: 18px;
}
button {
    background-color: #f7601b;
    flex:0 1 auto;
    width:100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color:#f9faf8;
    font-weight: bold;
    padding-bottom: 2px;
}

header ul {
    display:flex;
    gap:16px;
}

li {
    list-style: none;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}
a:hover {
    color: #f7601b;
}

.intro{
    height:100vh;
    gap:32px;
}

.intro-text {
    margin-left:15%;
    display:flex;
    flex-flow: column wrap;
    flex:1;
}

.image {
    flex:1;
    display:flex;
    align-self: stretch;
    justify-content: center;
    align-items:center;
    color:#1F2937;
    margin-top: 40px;
    margin-right: 15%;
    min-width:300px;
    max-height:100%;
    overflow: hidden;

}

img {
    width:100%;
}

.main {

    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content:space-between;
    background-color: #1F2937;
    color: #f9faf8;
    flex-flow: column wrap;
}
.content {
    flex-wrap: wrap;
    padding: 64px;
}

.content h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;

}

.cards {
    display:flex;
    justify-content: space-around;
    gap:32px;
    flex-flow: row wrap;
}



.card {
    max-width: 150px;
    color: #1f293700;
    transition:ease-in .7s;
}

.card:hover {
    color: #f9faf8;
}
.content-img {
    width:144px;
    height:144px;
    /* border: 3px solid #f7601b; */
    background-image: linear-gradient(180deg, #f7691b, rgba(0, 0, 0, 0));
    border-radius: 20px;
    transition: ease 0.1s;
}

.content-img:hover {
    transform:scale(1.05);
}
.quote {
    padding:80px 35%;
    background: url(neon.png) no-repeat center center fixed;
    background-size: cover;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color:#1F2937;
    text-shadow: 0 0 5px #f9faf8,
    0 0 15px #f9faf8,
    0 0 30px #f9faf8;
}

.quote p{
    mix-blend-mode:luminosity;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    font-weight: bold;
}

.sign-up-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding:36px;
    background-color: #f7601b;
    border-radius: 5px;
    margin:100px auto;
    color: #f9faf8;
    flex-flow: row wrap;
    
}

.sign-up-section button {
    border: 2px solid #f9faf8;
}

button:hover {
    background-color: #f9faf8;
    color: #f7601b;
}

.sign-up-section p {
    margin:0px;
}

.small {
    font-size: 12px;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 24px 0px;
    align-self: stretch;
}



@media only screen and (max-width: 783px){
    .intro-text {
        margin-right: 15%;
        align-items: center;
    }
    .image {
        margin-left: 15%;
        height: 200px;
    }
    
    .card {
        color: #f9faf8;
    }
}


@media only screen and (max-width: 561px){

    .quote {
        padding: 32px 25%;
    }
}

@media only screen and (max-width: 346px){
header ul {
    margin-right: 10%;
}
   
}